{%extends 'baadalbeats/basic.html'%}
{% block title%}baadalbeats{% endblock %}

{% block body %}
{% load static %} 
<h1 style="color: black; text-align: center;">History</h1>

{% if history|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;">You have no Video in your History</h3>
{% endif %}

<div class="container">
{% for i in history reversed %}
<div class="card mb-3" style="max-width: 940px; padding-top: 0%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/media/{{i.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: green; font-weight: 550;">{{i.name}}</h5>
          <p class="card-text">Tags: {{i.tags}}</p>
        <p class="card-text">Album: {{i.album}}</p>
          <a href="/baadalbeats/songs/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}